{% extends 'app_proyecto/base.html' %}

{% block titulo%} Lista de todos mis Familiares {% endblock %}
{% block contenido %}
      <a href='/mi-familia/alta'>Nuevo Familiar</a>
      <ul>
      {% for familiar in lista_familiares %}
          <li> 
              Id: {{familiar.id}} Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}
              <a href='actualizar/{{ familiar.id }}'>Actualizar</a>
              <a href='borrar/{{ familiar.id }}'>Borrar</a>
          </li>
      {% endfor %}
      </ul>
{% endblock %}